
.nav li{display:block;color: #fff;
background: #777777; }
.nav a{text-decoration:none;}
.nav ul{margin:0;list-style-type: none;}
.nav .youarehere a, .nav .youarehere a:visited, .nav .youarehere a:hover {
color: #fff;
background-color: #0b3b5e;
}
.nav li{float:left;padding:0;margin-left:10px;text-align:left}
.nav a{font-size:14px;color:#000;padding:3px 11px 5px;line-height:20px;display:block;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;transition:all 0.3s ease-in;text-align:left}
.nav a:focus{outline:none;}
.nav a:hover{-webkit-transition:all 0.4s ease-in;-moz-transition:all 0.4s ease-in;transition:all 0.4s ease-in;background-color:#19b2da;}