a.anchor-button {
  outline: 0;
  margin: 0 0px 0 0;
  padding: 0 6px 0px 0px;
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px 
}

a.anchor-button:link {

   color: #000000;

}

a.anchor-button:hover {

   color: #0000ff;
}

ul.list {

   list-style-type:square;

}

.tagcloud {
   
   width: 90%;
   margin: 0 auto;
   padding: 15px;
   overflow: hidden;
   text-align: justify;
   
}
